aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
*.o
*.lo
*.a
*.la
*.gmo
*~
man/scarecrow-settings-daemon.1
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
stamp-h1
.deps
.libs
scarecrow-settings-daemon/scarecrow-settings-client.h
scarecrow-settings-daemon/scarecrow-settings-daemon
scarecrow-settings-daemon/scarecrow-settings-manager-glue.h
scarecrow-settings-daemon/scarecrow-settings-daemon-localeexec
scarecrow-settings-daemon/csd-screen-saver-glue.c
scarecrow-settings-daemon/csd-screen-saver-glue.h
scarecrow-settings-daemon/csd-session-manager-glue.c
scarecrow-settings-daemon/csd-session-manager-glue.h
scarecrow-settings-daemon/csd-shell-glue.c
scarecrow-settings-daemon/csd-shell-glue.h
data/*.pc
data/*.xml
data/*.valid
data/scarecrow-settings-daemon.desktop
data/scarecrow-settings-daemon.desktop.in
data/50-accessibility.xml
data/io.github.scarecrow_de.SettingsDaemon.service
*.scarecrow-settings-plugin
plugins/a11y-keyboard/test-a11y-preferences-dialog
plugins/a11y-keyboard/csd-test-a11y-keyboard
plugins/a11y-settings/csd-test-a11y-settings
plugins/background/test-background
plugins/common/csd-common-enums.c
plugins/common/csd-common-enums.h
plugins/common/csd-test-input-helper
plugins/common/test-egg-key-parsing
plugins/datetime/csd-test-datetime
plugins/datetime/geoclue.c
plugins/datetime/geoclue.h
plugins/datetime/timedated.c
plugins/datetime/timedated.h
plugins/housekeeping/csd-disk-space-test
plugins/housekeeping/csd-empty-trash-test
plugins/housekeeping/csd-purge-temp-test
plugins/housekeeping/csd-test-housekeeping
plugins/keyboard/csd-input-sources-switcher
plugins/keyboard/csd-test-keyboard
plugins/media-keys/csd-marshal.c
plugins/media-keys/csd-marshal.h
plugins/media-keys/csd-media-keys-manager-glue.h
plugins/media-keys/csd-test-media-keys
plugins/media-keys/shell-key-grabber.c
plugins/media-keys/shell-key-grabber.h
plugins/media-keys/test-media-keys
plugins/media-keys/test-media-window
plugins/smartcard/csd-smartcard-enum-types.c
plugins/smartcard/csd-smartcard-enum-types.h
plugins/smartcard/csd-smartcard.h
plugins/smartcard/csd-test-smartcard
plugins/smartcard/io.github.scarecrow_de.Smartcard.c
plugins/smartcard/io.github.scarecrow_de.Smartcard.h
plugins/smartcard/io.github.scarecrow_de.ScreenSaver.c
plugins/smartcard/io.github.scarecrow_de.ScreenSaver.h
plugins/smartcard/io.github.scarecrow_de.SessionManager.c
plugins/smartcard/io.github.scarecrow_de.SessionManager.h
plugins/mouse/csd-test-mouse
plugins/power/csd-backlight-helper
plugins/power/csd-power-enums-update
plugins/power/csd-power-enums.c
plugins/power/csd-power-enums.h
plugins/power/csd-test-power
plugins/power/io.github.scarecrow_de.settings-daemon.plugins.power.policy
plugins/power/io.github.scarecrow_de.settings-daemon.plugins.power.policy.in
plugins/print-notifications/csd-printer
plugins/print-notifications/csd-test-print-notifications
plugins/remote-display/csd-test-remote-display
plugins/rfkill/csd-test-rfkill
plugins/screensaver-proxy/csd-test-screensaver-proxy
plugins/sharing/csd-test-sharing
plugins/smartcard/io.github.scarecrow_de.SettingsDaemon.Smartcard.c
plugins/smartcard/io.github.scarecrow_de.SettingsDaemon.Smartcard.h
plugins/sound/csd-test-sound
plugins/updates/csd-test-updates
plugins/wacom/csd-list-wacom
plugins/wacom/csd-test-wacom
plugins/wacom/csd-test-wacom-osd
plugins/wacom/csd-wacom-led-helper
plugins/wacom/csd-wacom-oled-helper
plugins/wacom/csd-wacom-resources.c
plugins/wacom/io.github.scarecrow_de.settings-daemon.plugins.wacom.policy
plugins/wacom/io.github.scarecrow_de.settings-daemon.plugins.wacom.policy.in
plugins/xsettings/csd-test-xsettings
plugins/xsettings/test-gtk-modules
plugins/xsettings/test-wm-button-layout-translations
tests/shiftkey
test-driver
